<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style/main.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/1187d4175a.js"></script>
     
    </head>
    <body  onoffline="networkStatus('offline')" ononline="networkStatus('online')">
      <div class="container-fluid ">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" >
            <!-- Brand -->
            <a class="navbar-brand font-weight-bold" href="/">MyBlogs</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse float-right  " id="collapsibleNavbar">
              <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                  <a class="nav-link nav_link_bg" href="/blogs/auth">Signup / Login</a>
                </li>

              </ul>
            </div>
          </nav>
          </div>
          
          <div  id="page_status" class="container hide_box " role="alert">
          
          </div>
            
            