
/*defined variables */
:root{
    --mainColor: rgba(4, 82, 170, 1);
    --secondColor: rgb(144, 174, 207);

}

/* form label */
.blog_field_label{
    padding: 4px;
}

/* navbar styles */
.navbar{
    background-color: rgba(4, 82, 170, 1);
    position: relative;
}

.nav_link_bg{
    background-color:var(--secondColor);
    color:#FFF !important;
    font-family: Helvetica, sans-serif;
        border-radius: 8px;
}
.nav-link{
    font-weight: bold;
    padding: 3px;
    color: #FFF !important;
    font-family: Helvetica, sans-serif;
    text-align: center;

}


/* jumbotron */
.page_jumbo{
    background-color: rgba(26, 89, 161, 0.2)  !important;
}


/* filter */

.hide_box{
    display: none;
}

.show_box{
    display: block;
}

#show_result,#hide_filter{
    font-weight: bold;
    color:#FFF;
    background-color: var(--secondColor);
}
.filter_category{
    background-color: var(--secondColor);
    border-radius: 12px;
    padding: .2rem
}
.blur{
filter: blur(14px);
}

#filter_box{
    background-color: var(--mainColor);
    border-radius: 13px;
    z-index: 99999;
    position: absolute;
    justify-content: center;
    padding: .6rem;
    overflow-y: scroll;
    height:18rem;
    transition: all .6s ease-in-out;
    margin:2rem;
}

.filter_parent{
    background-color:#FFF;
    text-align: left;
    border-radius: 12px;
    margin-top:.7rem;
    width:100%;

}
.text{
    margin-left: 2rem;
}
.filter_choice{

}
.form-check{
        text-align: justify;
    width:100%;
    padding: 1rem !important;
    margin: 1rem;
    color:var(--mainColor);
    font-weight: bold;
}
#filter_data{
    margin:0
}


/* filter styles end */


/* card  styles starts*/
.card{
    background-color: rgba(26, 89, 130, 0.1)  !important;
    transition: box-shadow .8s ease-in-out;

}
#blogs_row .card:hover{
    box-shadow: 0 0 20px silver;
    transform:scale(1);
    transition: all .4s ease-in-out;

}
.blog_title{
    color:#FFF !important;
    background-color: rgba(4, 82, 170, 2) !important;
    border-radius: 15px !important;

}
.liked{
    background-color: #007bff;
    border-radius: 4px;
}

.blog_like, .blog_visit{

    border:1.4px solid #38236d38 !important;
}
.blog_visit{
    width: 38px;
    height: 38px;
}

.blog_likes{
    font-weight: bold;
    padding: .2rem;
    margin:4px;
}
.blog_like_icon{
    position:relative;
    top:-.5rem;
    left:-.8rem;
    height: 38px;
    width:38px;
    font-size: 1.4rem !important;
    line-height: 38px !important;
    transition: all .5s ease-in-out;
    margin:auto
}

.likes_icon{
    color:#007bff;
    transition: all .5s ease-in-out;
}
.scale{
    animation: scale 1.5s  ease-in-out;
}

@keyframes scale {
from{
    transform: scale(2);
}
to{
    transform: scale(1);
}
}

.not_liked{
    text-shadow: 0 0 2px #007bff;

}
.blog_header{
    color:gray;
    font-size: 1.5rem;
    font-family:  Helvetica, sans-serif;
}
.blog_category{
    color:gray;
    font-weight: bold !important;
}
.blog_date{
    color:#000;
    font-weight: bold;
    font-size: .7rem;
    padding-left: 3px;
}

/* card  styles ends*/




/* buttons  styles starts*/

/* btn loader */
.form_load{
    opacity: 0 !important;
}


.spin{
    animation: spin .3s infinite ease-in-out;
}
@keyframes spin {
    from{
        transform: rotate(360deg);
    }

    
}

button:focus{
    box-shadow: none !important;
}

/* auth toggler btn's */
.toggle_btn{
    -webkit-appearance: none;
    height:30px;
    width: 50%;
    color:#FFF;
    font-weight: bold;
    border-radius: 12px;
    position: relative;
    left: 25%;
    margin:auto;
    z-index:999;
    text-align: center;
    transition: all .5s ease-in-out;
    border:1px solid steelblue;
}
.toggle_next{
    position: absolute;
    width: 20%;
}
.move_left{
    transform: translateX(-100%);
}
.toggle_btn::before{
    content: "SignUp ";
    position: absolute;
    color:#FFF;
    font-weight: bolder;
    left:0px;
    top:-1px;
    border-radius: 12px;
    width:50%;
    transition: all .5s ease-in-out;

    height: 30px;
    background-color:var(--mainColor);
    place-items: center;
}
.toggle_btn:checked::before{
    content: "SingIn";
    transition: all .5s ease-in-out;

    left:51%;
}

#toggle_signin,#toggle_signup{
    margin-top: .4rem;
    transition: all .5s ease-in-out;
}
#user_auth{
    margin:auto;
    padding: 1rem;;
}

#toggle_signup .form-group , #toggle_signin .form-group{
    margin:.6rem
}
.hide_box{
    display: none !important;
}

.signup_success{
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    color:var(--mainColor); 
}

.btn_hover:hover{
    transition: all .5s ease-in-out;
box-shadow:  0 0 0 8px silver;
}

.btn_form{
    width: 112px;

    color:#fff !important;
    font-weight:600 !important;
    letter-spacing: 2px;
}

.btn_form_clear{
    background-color: var(--secondColor) !important;
    color:#fff !important;
    font-weight:600 !important;
}



#create_blog{
    background-color:  var(--mainColor) ;
}

#blog_c_form{
    background-color: rgba(26, 89, 130, 0.1) !important;
}

/* buttons  styles ends*/


/* alert status */
.alert_status .alert{
    top:20% !important;
    text-align: center;
    z-index: 9999;
    background-color:var(--secondColor);
    color:#FFF;
    font-family: Helvetica, sans-serif;
    border-radius: 12px;
    margin-top: 3rem;
    border:1.5px solid var(--secondColor);
}

/* page status */
#page_status{
transition: all 1s ease-in-out;
width: 100%;
text-align: center;
position:sticky;
margin:auto;
z-index:99999;

}
#page_status .alert{
    animation: move_alert 1s  ease-in-out;
    transition: all .6s ease-in-out;
    margin-top: 4rem;
    background-color:var(--secondColor);
    color:#FFF;

}

@keyframes move_alert{
   
    from{
        transform: translateY(-100%);
        transition: all .6s ease-in-out;

    }
    
}


.btn_secondary{
    background-color: var(--secondColor) !important;
    color:#FFF !important;
    font-weight: bolder !important; 
}

.alert_status{
    position: absolute !important;
    text-align: center;
    right: 5%;
    z-index: 9999;
    background-color: var(--mainColor);
    color:#FFF;
    font-weight: bolder;
    border-radius: 12px;
    border:1.5px solid var(--secondColor);
    padding: 0 !important;
}


/*blog details page styles starts*/
.blog_detail_title{
    color:gray;
    text-align: center;
    
}
.blog_detail_content{
    font-family:  Helvetica, sans-serif;
    word-spacing: 5px;
}

.blog_detail_date{
    line-height:60px;
    margin:0;
    padding-left: 1rem;
}

/*blog details page styles ends*/


/* footer */
#site_footer{
    height:120px;
    margin: 3rem auto .6rem auto;
    background-color: var(--secondColor);
    border-radius: 6px;
    position: relative;
    bottom:0;
    top:20vh;
}



/*error page */
#error_page{
    height:70vh;
}
.error_wrapper{
    position: relative;
    top:40%;
    width: 70%;
    text-align: center;

    margin: auto;
    height: 100%;
}
.error_wrapper label{
    
    font-size: 2rem;
    font-weight:bolder;
}

.error_cont{
font-weight: bolder;
font-size: 1.6rem;
    color: #FFF;
}

.icon{
    font-size: 120px;
}
.icon i{
}
.error_box{
    padding: 1rem;
    border-radius: 15px;
    background-color:var(--mainColor);
    text-align: center;
    animation: move_error 4s infinite  ease-in-out;
    transition: all .6s ease-in-out;
    box-shadow: 0 0 25px silver;
}
@keyframes move_error {
to{
   transform: scale(1);
   transition: all .6s ease-in-out;

    }

    from{
        transition: all .6s ease-in-out;

    transform: scale(0);
    }
    
}

/*signup form */
#toggle_signup
{
}

.form_wrapper{
    background-color:#FFF;
    border:5px solid  var(--mainColor);
    border-top: none;
    border-radius: 8px;
    padding-top: 1rem;
}
.form_jumbo{
    background-color: var(--mainColor) !important;
    color: #FFF;
    padding: .6rem;
    margin-bottom: 0 !important;
}















body{
    font-family:Helvetica, Neue,Helvetica,Arial,sans-serif !important;
}



/*icons */
.show_password{
    height: 100%;
    line-height:30px !important;
    font-weight: bolder !important;
}
.eye_signin_parent,.eye_signup_parent{
    background-color: var(--secondColor);
    padding: 5px;
    border-radius: 0 5px 5px 0;
    height: 38px;
}

/* media query for mobile devices */

@media screen  and (max-width:480px) {
    #user_nav_info{
        display: none;
    }
    

    #st{
        margin-left: 0px;
    }


    #lg_nav{
        display: none;
    }
    
}