<% if(typeof data == "undefined")  {%>
<%-  include("partials/header") %> 
<% }   else { %>
<%-  include("partials/header-login") %>
<% } %>




<title>Home</title>


<div  class="container-fluid">
<div class="jumbotron page_jumbo p-4 " style="margin-top: 60px;">
<div class="container">
<h4 class="display text-center  blog_header font-weight-bold">All Blogs</h4>
<hr class="my-2">
<p class="lead text-center pt-3">
<a class="btn btn-md text-white font-weight-bold btn_hover" style="background-color: var(--mainColor);" href="/blogs/create" role="link">Create new blog</a>
</p>
</div>
</div>

<div class="w-100  text-center ">
<button class="btn  btn-md text-white text-weight-bold btn_hover" style="background-color: var(--mainColor);" id="filter_btn">Filter</button>
<!-- <select class="form-select-lg form-select m-auto col-md-2 col-xs-6 col-sm-6 form-control" id="blog_sort" onchange="getSortValue(this.value)">
<option selected>Sort by</option>
<option value="-1">Latest</option>
<option value="1">Oldest</option>
</select>-->


<div class="container-fluid justify-content-center row pl-5 ml-md-3">
<div id="filter_box" class="hide_box m-4  p-3 col-md-3  " >
<div class="form-check p-1 " id="filter_data">
</div>
<div class="row justify-content-center">
<div class='form-group m-auto'><button  id="show_result" class="btn btn-md btn-light">Results</button></div>
<div class='form-group m-auto'><button  id="hide_filter" class="btn btn-md  btn-light">Back</button></div>
</div>
</div></div>
</div>
<div class="container-fluid" >
<div class=" justify-content-around row "  id="blogs_row">
<% blogs.forEach((ele)=>{ %>
<div class="card  m-3 p-4 col-md-4 ">
<div class="card-header text-center blog_title  font-weight-bold"><%= ele.title %></div>
<div class="card-body p-2">
<input type="text" class="blog_id" hidden value="<%= ele._id %>">
<label class="card-title d-block text-center m-1 blog_category "><%= ele.category %></label>
<div class="d-flex justify-content-center">  <label  class="blog_likes card-title d-block text-center m-1"><%= ele.likes%>  </label><i  class="fa fa-thumbs-up likes_icon  m-2" aria-hidden="true"></i></div>
</div>
<div class="d-flex justify-content-center  p-2" >
<a  data-toogle="tooltip" title="View this blog" href="/blogs/detail/<%= ele._id %>"><button   class="btn btn-md  blog_visit m-2"><i class="fa fa-external-link" aria-hidden="true"></i>
</button></a>
<button type="button" data-toogle="tooltip"   title="Like this blog!!!"  style="color:#FFF;width: 38px;height: 38px;" class=" blog_like btn  btn-md m-2" data-blogid="<%= ele._id %>">
<i class="border-primary fa fa-thumbs-up blog_like_icon not_liked "  onclick="likeOrDislike(this)" aria-hidden="true"></i>
</button>
</div>
<label class="card-title blog_date  d-block"><%= ele.createdAt.toString().substring(0,15) %></label>

</div>
<% }) %>
</div>

</div></div>
<script defer src="/scripts/likedislike.js"></script>
<script defer  src="/scripts/homefilter.js"></script>
<script defer src="/scripts/blogliked.js"></script>
<script defer  src="/scripts/main.js"></script>
<script defer  src="/scripts/checkcookie.js"></script>



</div>

<%- include('partials/footer') %>

